#topbar {
	position: absolute;
	left:13%;
	top: 0px;
	width: 70%;
	height: 50px;
	background-color:;
}

#register {
	position: absolute;
	left: 41%;
	width: 10%;
	height: 100%;
	/*background-color: cyan;*/
	text-color: black;
	line-height: 50px;
	text-align: center;
}

#faq {
	position: absolute;
	left: 0%;
	width: 10%;
	height: 100%;
	line-height: 50px;
	text-align: center;
	
}

#loot{
	position: absolute;
	right: 0%;
	width: 10%;
	height: 100%;
	/*background-color:aquamarine;*/
	line-height: 50px;
	text-align: center;

	
}

p1 {
	position: relative;
	font-size: 3rem;
	font-family: 'Staatliches', cursive;
	color:#FF6D00;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

#container{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.rules{
	background: rgba(0, 0, 0, 0.6);
	margin-top: 120px;
	width: 70%;
	text-align:left;
	color:#fff;
	padding: 20px;

}

t{
	font-family:arial;
	font-size: 1.3rem;
}

.outline {
	outline:solid white 1px;
	outline-offset:;
}

.hoverable:hover{
	background-image: rgba (255, 255, 255, 0.4);
	
}

p2 {
	position: absolute;
	font-size: 1.4rem;
	color: #FFF;
	bottom:1%;
	left:39%;
	font-family:verdana;
}

#counter{
	position: absolute;
	bottom: 45%;
	left: 41%;
}

#halfthepage{
	position: absolute;
	height:60%;
	bottom:0%;
	width:100%;
}

#credits{
	text-align: center;
}
